<nav class="navbar navbar-expand-lg fixed-top bg-info">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Vega App</a>

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vehicles/new" routerLinkActive="active">New Vehicle</a>
      </li>            
    </ul>
    
  </div>
</nav>